header {
    position: fixed;
    z-index: 10000;
}

#icon {
    height: 45px;
    width: auto;
    margin: 10px;
    transition: all 2s ease-in-out;
}

#icon:hover {
    transform: rotate(360deg);
}

.all{
    position: absolute;
    margin-left: 64px;
    margin-right: 64px;
    top: 30%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    background-color: #2e3440;
    font-size: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

div.text {
    color: #e5e9f0;
    font-size: 4.5rem;
    text-align: center;
    padding:0, auto;
    margin: 8px;
}

#title {
    margin: 0.125rem;
}

#subtext {
    font-size: 0.5em;
    margin: 0.125rem
}


div.form {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    margin: 2%;
}

/* bah 
label {
    font-size: 3.6em;
    color: #e5e9f0;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    position: absolute;
    top: 0%;
}
*/
#search {
    border: none;
    outline-width: 0;
    font-size: 1em;
    color: #e5e9f0;
    text-align: left;
    height: 3.6em;
    width: 70%;
    background-color: #252931;
    border-radius: 3px;
    margin-top: 2%;
    padding-left: 15px;
}