html, body, div.all {
    overflow: auto;
}

header {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px, 100px;
/*    transition: 0.3s; */
}
/*
header.sticky {
    padding: 5px, 100px;
    background: #ffff;
    transform: rotate(360deg);
}
*/
#icon {
    height: 45px;
    width: auto;
    margin: 10px;
    transition: all 2s ease-in-out;
}

#icon:hover {
    transform: rotate(360deg);
}
/*
#icon.sticky {
    transform: rotate(360deg);
}
*/
body {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #272b30;
    font-size: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*1b1f25
2e3440
*/
.all{
    background-color: #2e3440;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 100%;
    position: relative;
    top: 0%;
    margin-left: 65px;
    /*65*/
    margin-right: 35px;
    word-wrap: break-word;
/*    margin: 13px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
}

#title {
    margin: 0.125rem;
    transition: 0.3s;
    /*position: absolute;
    top: 65px;
    left: 30%;
    */
}
/*
#title.sticky {
    left: -50%;
}
*/
#subtext {
    font-size: 0.5em;
    margin: 0.125rem
}

div.text {
    color: #e5e9f0;
    font-size: 4.5rem;
    text-align: center;
    margin: 8px;
}

.paragraph {
    color: #e5e9f0;
    font-size: 1.75rem;   
    margin-top: 8px;
    margin-bottom: 8px;
}

.prosa {
    margin-top: 16px;
    margin-bottom: 16px;
}

#coms{
    font-size: 1.5rem;
    color: #e5e9f0;
    display: flex;
    flex-direction: column;
}
/*honeydew*/
.line {
    color: black;
    font-family: monospace;
    font-weight: bold;
    background-color: honeydew;
    background-clip: padding-box;
    width: 60px;
    padding: 10px;
    padding-right: 13px;
    border-radius: 8px;
}